/* reset && config globais*/

:root {
    --cor_botao_visual:#FFA500;
    --cor_botao_hover_visual:#E69500;
    --cor_texto_destaque_visual:#FFA500;
    --cor_shadow_botao_visual:#ffa6006e;
    --cor_border_botao_visual:#FFA500;

    --cor_botao_planos:#000080;
    --cor_botao_hover_planos:#090954;
    --cor_texto_destaque_planos:#000080;
    --cor_shadow_botao_planos:#0000805e;
    --cor_border_botao_planos:#000080;
    --cor_texto_destaque_planos:#0202a4;


    /* cores abandonadas
    
        amarelo normal: #FFA500
        amarelo hover: #E69500
        shadow amarelo: #e696007a
        border amarelo:

    */
}


* {
    transition: all 0.3s ease;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}







/* cotainer Menu */
header#container_header{

    background-color: #070b3800;
    /* background: linear-gradient(325deg, rgba(7, 11, 56, 1) 50%, rgba(26, 46, 122, 1) 100%); */
    color: white;
    height: 75px;
    width: 100%;
    border-radius: 3px;
    position: fixed;

    /* flexbox settings */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container_header > ul{
    flex: 0 1 575px;
}

/* Elementos dentro do container Menu */

/* configurações dos links */
.menu_link{
    list-style-type: none;
    display: flex;
    flex-direction: row;

    margin-right: 35px;
}

.menu_link > li{
    flex: 0 1 200px;
    text-align: center;
    font-size: 1.4em;
}

.menu_link > li > a{
    text-decoration: none;
    color: white;
}
.menu_link > li > a:hover{
    color: var(--cor_botao_hover_visual);
    text-shadow: -0.2px 0.2px 1px #e696007a;
}

.aparecer_menu{
    display: flex !important;
}

/* classes para um menu hamburger */
#icone_menu_hamburger{
    margin-right: 30px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    border: none;
    display: none;

    pointer-events: auto;
    position: relative;  /* necessário para z-index funcionar */
    z-index: 1001; 
}

.menu_link_hamburguer{
    width: 24%;
    height: 100%;
    margin: 0px;
    padding-top: 60px;
    position: fixed;
    top: 0;
    right: 0;
    gap: 20px;
    background-color: #ffad14;
    box-shadow: -2px 0px 4px #4f34026a;

    list-style-type: none;
    display: none;
    flex-direction: column;
    align-items: start;

    position: fixed;
    z-index: 1000; 
}
.menu_link_hamburguer > li{
    flex: 0 1 auto;
    text-align: center;
    font-size: 1.4em;
}

.menu_link_hamburguer > li > a{
    font-weight: 390;
    text-decoration: none;
    color: white;
}
.menu_link_hamburguer > li > a:hover{
    color: rgb(30, 30, 231);
}

.link_assinar_hamburguer{
    background-color: var(--cor_botao_visual);
}

.link_assinar_hamburguer:hover{
    color: white;
}

.link_assinar{
    background-color: var(--cor_botao_visual);
    border-radius: 25px;
    padding: 5px 20px 5px 20px;
    margin-left: 15px;
}

.link_assinar:hover{
    background-color: var(--cor_botao_hover_visual);
    color: white !important;
}

/* configurações da imagem Logo no Menu */
img#imagem_logo{
    height: 80px;
    width: auto;
    margin-left: 50px;
}













/* MAIN */

/* Imagem Principal Abertura */
#container_imagem_eslogam{
    display: flex;
    align-items: center;

     background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), 
                url('imagens/familia_assistindo_sliced.png') no-repeat center center;
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: 0px 3px 4px rgba(15, 15, 15, 0.36);

    height: 675px;
    width: 100%;
}

#box_texto_eslogam{
    margin-left: 60px;
    height: 400px;
    width: 400px;
}

#texto_eslogam{
    font-size: 2.7em;
    color: white;
    text-shadow: -2px 1px 1px black;
}

#texto_eslogam > strong{
    color: var(--cor_texto_destaque_visual);
    justify-content: center;
}




/* Exibição de Planos */

#container_planos_titulos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 100%;
}

.titulos_destaque{
    font-size: 2.6em;
    color: black;
    margin-left: 70px;
}

.titulos_destaque > strong{
    color: var(--cor_texto_destaque_planos);

}

#container_planos{
    background: white;
    height: 850px;
    width: 93%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

.caixa_plano{
    background-color: white;
    margin: 10px 10px 0px 10px;
    height: 500px;
    width: 300px;
    border-radius: 10px 10px 10px 10px;
    border: 0.1px solid rgba(128, 128, 128, 0.3);
    box-shadow: 0.4px 0.4px 5px rgba(128, 128, 128, 0.3);

    display: flex;
    flex-direction: column;
    flex: 1 1 350px;
    align-items: center;
    justify-content: space-between;
}

.caixa_plano:hover{
    border: 1.2px solid var(--cor_border_botao_planos);
    box-shadow: 1px 1px 2px var(--cor_botao_hover_planos);
}

.titulo_plano{
    font-size: 1.45em;
    font-weight: 600;
}

.div_container_infos{
    width: 80%;
}

.texto_plano{
    font-size: 35px;
    margin: 0px;
    text-align: center;
}
.texto_bonus{
    font-size: 18px;
    margin:  5px 0px 15px 0px;
    width: 100%;
    padding-left: 15%;
    color: rgb(11, 137, 11);
}

.icons_plano{
    font-size: 35px;
}

.informacoes_plano{
    height: 250px;
    width: 250px;
    background-color: rgba(113, 110, 100, 0.085);
    box-shadow: -2px 2px 4px rgba(108, 106, 91, 0.45);
    border-radius: 12px;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

.conteudo_com_imagem {
    display: flex;
    flex-direction: row; /* já está */
    align-items: center; /* centraliza verticalmente */
    gap: 7px;
    margin: 5px 0px 0px 0px;
}

.conteudo_com_imagem img {
    width: 60px; /* tamanho fixo da imagem */
    height: 60px; /* mantém a proporção quadrada */
    object-fit: contain; /* mantém proporção sem distorcer */
    justify-content: center;
}

.icon_plano{
    font-size: 30px;
    margin: 0px 17px 0px 11px;
}

.texto_informacoes_plano_com_imagem{
    font-size: 19px;
    flex: 0 1 auto;
    align-content: center;
}

.texto_informacoes_plano{
    font-size: 19px;
    flex: 0 1 auto;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

.texto_valor_plano{
    font-size: 28px;
    width: 80%;
}

.caixa_plano_assinar{
    height: 85px;
    flex: 0 0 40px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--cor_botao_planos);
    align-content: center;
    font-size: 1.3em;
    text-decoration: none;
    color: white;
    font-weight: bolder;
    text-align: center;
}

.caixa_plano_assinar:hover{
    background-color: white;
    border: 1.2px solid var(--cor_border_botao_planos);
    color: var(--cor_botao_planos);
}






/*
background: linear-gradient(135deg,
    #141F2C 0%,
    #24364D 40%,
    #2D4A68 70%,
    #D9E2EC 90%,
    #FFFFFF 100%
    ); 
*/